<%- include('partials/header.ejs') %>
    <div class="container_mein">
        <div class="perfil_container size_container text_container">
            <img src="../img/perfil.jpg" alt="">
            <div class="data_container">
                <h1>Nombre</h1>
                <p>
                    <%=Nombre%>
                </p>
                <h1>Pais</h1>
                <p>
                    Ecuador
                </p>
                <h1>Edad</h1>
                <p>
                    21
                </p>
            </div>
        </div>
        <div class="study_container size_container text_container">

            <h1>Colegio</h1>
            <p>Picoaza</p>
            <h1>Univesdad</h1>
            <p>Universidad Tecnica De Manabi</p>
            <h1>Curso</h1>
            <p>Unemy</p>
        </div>
        <div class="languages_container size_container text_container">
            <h1>Lenguajes</h1>
            <p>Python</p>
            <p>R</p>
            <p>Java</p>
            <p>JavaSript</p>
            <p>Php</p>
        </div>
        <div class="areas_container size_container text_container">
            <h1>Areas</h1>
            <p>Python</p>
            <p>R</p>
            <p>Java</p>
            <p>JavaSript</p>
            <p>Php</p>
        </div>
    </div>
    <%- include('partials/footer.ejs') %>