<%- include('partials/header.ejs') %>

    <form action="/inser" method="POST">
        <label for="POST-name">Usuario:</label>
        <input nombre="datos" type="text" name="usuario">
        <input type="submit" value="Guardar">
    </form>